.work1>h2  {
    font-size: 20px;
    color: white;
    text-align: center;

}
.work1>p  {
    font-size: 20px;
    color: white;
    text-align: center;

}
.allproject{

    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px 30px;
    padding: 20px;
    justify-content:center;
   

}
.project1{
    position: absolute;
    background-color: rgb(56, 166, 129);
     z-index: 10;
    border-width: 2px;
    border-spacing: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
   padding: 25px;
   opacity: -1;
  
   
}
.project2{
   
    background-color: rgb(56, 166, 129);
     
    border-width: 2px;
    border-spacing: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
   padding: 25px;
   opacity: -1;
   
   
}
.project3{
   
    background-color: rgb(56, 166, 129);
     
    border-width: 2px;
    border-spacing: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
   padding: 25px;
   opacity: -1;
   
   
}
.project4{
   
    background-color: rgb(56, 166, 129);
     
    border-width: 2px;
    border-spacing: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
   padding: 25px;
   opacity: -1;
  
   
}
.project5{
   
    background-color: rgb(56, 166, 129);
     
    border-width: 2px;
    border-spacing: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
   padding: 25px;
   opacity: -1;
   
   
}
.project6{
   
    background-color: rgb(56, 166, 129);
     
    border-width: 2px;
    border-spacing: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
   padding: 25px;
   opacity: -1;
   
   
}
.hov{
    border: 1px solid rgb(14, 135, 176);
    color: white;
    font-size: 50px;
    opacity: 1;
    border-width: 2px;
    border-spacing: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
   padding: 25px;
    
}
.project5:hover {
    opacity: 1;
}
.project1:hover{
    opacity: 1;
}
.project2:hover{
    opacity: 1;
}
.project3:hover{
    opacity: 1;
}
.project4:hover{
    opacity: 1;
}
.project6:hover{
    opacity: 1;
}


.project1 >span {
font-size: 20px;
color: white;
text-align: center;

}
.project1 >p {
    font-size: 20px;
    color: white;
    text-align: center;
    
}
.button1>a>button{
padding: 10px 10px;
margin: 10px 18px;
font-size: 20px;
border-radius: 10px;
background: white;
cursor: pointer;
}
.button1>a>button:hover{
font-size: 21px;
}